input {
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: #7d70ba;
}

label {
    width: 100%;
    font-size: 10px;
    font-weight: 600;
    color: #777c73;
    padding: 10px;
}

textarea {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
}

.select {
  font-size: 12px;
  padding: 0;
  width: 75%;

}

.grid-item {

    div {
        border-radius: 25px;
        border: 1px solid #7d70ba;
        box-shadow: 1px 1px 1px #999;
        width: 75%;
        p {
            font-size: 14px;
            color: #7d70ba;
            padding:0;
            margin: 0;
        }
    }

    select {
        border: 1px solid #7d70ba;
        box-shadow: 1px 1px 1px #999;
        font-size: 14px;
        border-radius: 25px;
        padding: 2px 20px;
        color: #7d70ba;
        text-align: center;
        transition: all 100ms;
        width: 75%;

        &:hover {
            background-color: rgb(242, 235, 235);
        }
    }
}