

.sidebar {
    display: flex;
    position: fixed;
    flex-flow: column;
    height: 100vh;
    width: 135px;
    box-shadow: 5px 0 5px -2px #93867F;
    background-color: #343633;
    z-index: 3;
    top: 0;
    left: 0;
}

