
.bar-container {
    display: inline!important;
    list-style: none;

    .bar {
        background-color: #1976d2;
        width: 18%;
        display: inline-block;
        text-align: center;
        border: 1px solid white;
        color: white;
        height: 30px;
        
         
        
    }

    .active-bar {
        background-color: green;
    }
}