
.content {
    background-color: #8d5185;
    background-image: linear-gradient(315deg, #8d5185 0%, #a1bafe 74%);
    height: 100vh;

    .img-box {
        img {
            border-radius:0 ;
            width: 600px;
        }
       
    }
    .grid {
        .bug-icon {
            font-size: 2em;
        }
    }

   

}