
.ticket {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    .ticket-header {
        text-align: center;
        width: 35%;
        height: 5px;
    }
    .stepper {
        padding-top: 10px;
        width: 60%;
        justify-content: center;
    }

    .ticketForm {
        width: 60%;
        margin-top: 5%;
        float: left;
    }
}

