
.area-div {
    width: 90%;

    p {
        
    }

    .description-text {
        border: none;
        box-shadow: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #777c73;
        width: 100%;
        outline: none;
   
    }
}



.div-value {
    border-radius: 25px;
    border: 1px solid #7d70ba;
    box-shadow: 1px 1px 1px #999;
    width: 100%;
    margin: 0 10px;
    text-align: center;
    p {
        font-size: 14px;
        color: #7d70ba;
        padding:0;
        margin: 0;
    }
}