
.ticket {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
 
    .stepper {
        padding-top: 10px;
        width: 100%;
        display: flex;
    }

    .ticketForm {
        width: 100%;
    }
}

